<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
    <meta charset="UTF-8">
    <title>Codebreaker</title>
  </head>
  <body>
    <h1>Welcome to the Codebreaker game!</h1>
    <p>Please, enter the code which contains 4 digits from 1 to 6 to make guess or take a hint which returns the secret digits in a random order.</p>
    <p>Available attempts: <%= @game.available_attempts %></p>
    <p>Available hints:  <%= @game.available_hints %></p>
    <% if @request.session[:game_status] == 'won' %>
    <p>You won</p>
        <% elsif @game.available_attempts == 0 %>
      <p>You lost!</p>      
    <% else %>
      <form method="post" action="/guess">
        <input name="guess" type="text" placeholder="Type your guess here..." pattern="^[1-6]{4}" autofocus>
        <input class="btn" type="submit" value="Submit">
      </form>
    <% end %>    
    <table>
      <caption>TURNS</caption>
        <tr>
          <th>Guess</th>
          <th>Result</th>
        </tr>
        <% @game.made_guesses.each_pair do |guess, result| %>
          <tr>
            <td><%= guess %></td>
            <td><%= result %></td>
          </tr>
        <% end %>
      </table>
        <form class="restart" method="get" action="/restart">
          <input class="btn" type="submit" value="Restart">
        </form>
      <% if @game.available_hints > 0 %>
        <form class="hint" method="get" action="/hint">
          <input class="btn" type="submit" value="Hint">
        </form>
      <% end %>
      Hint: <%= @request.session[:hint] %>
  </body>
</html>