<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
    <meta charset="UTF-8">
    <title>Codebreaker</title>
  </head>
  <body>
  <div class="header">
    <h1>Welcome to the Codebreaker game!</h1>
    <p>Please, enter the code which contains 4 digits from 1 to 6 to make guess or take a hint which returns the secret digits in a random order.</p>
    <p>Available attempts: <%= @game.available_attempts %></p>
    <p>Available hints:  <%= @game.available_hints %></p>
    <div>
      <a href="/score">SCORE</a>
    </div>
  </div>
  <div class="container">
    <% if @request.session[:game_status] == 'won' %>
      <p>You won!</p>
      <%= render '_ask_name_form.html.erb' %>
    <% elsif @game.available_attempts == 0 %>
      <p>You lost!</p>
      <%= render '_ask_name_form.html.erb' %>     
    <% else %>
      <form method="post" action="/guess" class="ask-form">
        <input class="guess-input" name="guess" type="text" placeholder="Type your guess here..." pattern="^[1-6]{4}" autofocus>
        <input class="btn" type="submit" value="Submit">
      </form>
    <% end %>    
    <%= render '_guesses_table.html.erb' %>
    <div clas="container">
      <form method="get" action="/restart">
        <input class="btn" type="submit" value="Restart">
      </form>
      <% if @game.available_hints > 0 %>
        <form method="get" action="/hint">
        <input class="btn" type="submit" value="Hint">
      </form>
    </div>
    <% end %>
    <p>Hint: <%= @request.session[:hint] %></p>
    </div>
    </div>
  </body>
</html>